openapi: 3.0.1
info:
  title: Dashboard Allowlists SDK API
  description: Dashboard API documentation
  version: 1.0.0
servers:
- url: https://app.dynamicauth.com/api/v0
- url: https://app.dynamic.xyz/api/v0
- url: http://localhost:3333/api/v0
tags:
- name: SDK
paths:
  /environments/{environmentId}/users/{userId}/balances:
    post:
      operationId: getUserAccountBalances
      tags:
      - SDK
      summary: Get account balances for multiple addresses
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        description: Array of account addresses with chains and network IDs
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultichainAccountBalancesRequest'
      responses:
        '200':
          description: Token balances organized by chain and network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultichainAccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /exchangeRates:
    get:
      operationId: getExchangeRates
      tags:
      - SDK
      description: Exchange rates for the given currency
      responses:
        '200':
          description: Exchange rates response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/waas/keyShares/backup/token:
    get:
      operationId: getBackupToken
      tags:
      - SDK
      summary: Generate a short-lived JWT token for use with WAAS client backups.
      description: This endpoint generates a short-lived JWT token for use with WAAS client backups. The token is valid for 1 minute and can only be used for storing and retrieving client keyshare backups. A Dynamic Auth user must be authenticated and have a Dynamic JWT to use this endpoint.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successfully generated a short-lived JWT token for use with WAAS client backups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/check:
    get:
      operationId: getUserFieldsCheck
      tags:
      - SDK
      summary: Check user field uniqueness
      description: Check if the unique field value is already taken. For example, an enabled unique username or unique email. This also works with enabled unique custom fields.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: filter
        required: false
        style: form
        schema:
          $ref: '#/components/schemas/UserFieldsCheckParams'
      responses:
        '200':
          description: successful check
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFieldsCheckResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/providers/{providerType}/initAuth:
    post:
      operationId: initAuth
      tags:
      - SDK
      summary: Initialize oauth auth sequence
      description: This endpoint initializes a secure oauth authentication sequence by providing the state and current url path to the API.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      requestBody:
        description: OAuth temporary auth code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthInitAuthRequest'
        required: true
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/session:
    get:
      operationId: sessionCheck
      summary: Check that session is valid
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/scan/websiteUrl:
    post:
      summary: Scan a URL for potential malicious activity
      operationId: scanUrl
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanWebsiteUrlRequest'
      responses:
        '200':
          description: Successful scan result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanWebsiteUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/solana/simulateTransaction:
    post:
      operationId: simulateSVMTransaction
      tags:
      - SDK
      summary: Simulate a Solana transaction
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateSVMTransactionRequest'
        required: true
      responses:
        '200':
          description: Simulated transaction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/solana/sponsorTransaction:
    post:
      operationId: sponsorSVMTransaction
      tags:
      - SDK
      summary: Sponsor a Solana transaction via Grid API
      description: 'Sponsors a Solana transaction using the Grid API by Squads.

        The Grid API replaces the fee payer with a sponsored account so users don''t need SOL for gas.

        Only available for environments with SVM gas sponsorship enabled.

        '
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorSVMTransactionRequest'
        required: true
      responses:
        '200':
          description: Sponsored transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorSVMTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/evm/simulateTransaction:
    post:
      operationId: simulateEVMTransaction
      tags:
      - SDK
      summary: Simulate an EVM transaction
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateEVMTransactionRequest'
        required: true
      responses:
        '200':
          description: Simulated transaction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/evm/simulateUserOp:
    post:
      operationId: simulateUserOp
      tags:
      - SDK
      summary: Simulate an EVM AA UserOp
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateUserOpRequest'
        required: true
      responses:
        '200':
          description: Simulated transaction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/externalAuth/signin:
    post:
      operationId: externalAuthSignin
      summary: Endpoint to sign-in using a token issued by an external auth provider
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAuthSigninRequest'
        required: true
      responses:
        '200':
          description: Successful external auth signin response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/solana/optimizeTransaction:
    post:
      summary: Add fees to a Solana transaction
      operationId: optimizeTransaction
      tags:
      - SDK
      security:
      - BearerAuth: []
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolanaTransactionOptimizationRequest'
      responses:
        '200':
          description: Successfully optimized transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaTransactionOptimizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/externalAuth/verify:
    post:
      operationId: externalAuthVerify
      deprecated: true
      summary: '[DEPRECATED] Please use /externalAuth/signin instead'
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAuthSigninRequest'
        required: true
      responses:
        '410':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/authToken:
    get:
      operationId: getAuthToken
      summary: Get auth token for given embedded wallet type
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/EmbeddedWalletAuthType'
      responses:
        '200':
          description: embedded wallet auth token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedWalletAuthToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/passcode:
    get:
      operationId: getEmbeddedWalletPasscode
      summary: Return the passcode for the pregenerated embedded wallet of the authenticated user
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: embedded wallet passcode response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedWalletSecret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/wallets/selection:
    put:
      operationId: selectUserWallet
      summary: Update wallet in a multi-wallet selection
      description: When a user selects a wallet to be the primary wallet in a multi-wallet enabled environment, this endpoint is called to record this on the backend.
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserWalletSelectionRequest'
        required: true
      responses:
        '200':
          description: Updated standard, minified JWT and full user profile object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/passcode/claim:
    put:
      operationId: claimEmbeddedWallet
      summary: Claim a pregenerated embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedWalletPasscodeClaimRequest'
        required: true
      responses:
        '200':
          description: Claim embedded wallet response with updated jwt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/backup:
    get:
      operationId: getEmbeddedWalletBackups
      summary: Return the backup key for the embedded wallet of the authenticated user
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: embedded wallet passcode response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedWalletSecret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/upgradeToV2:
    post:
      operationId: upgradeEmbeddedWalletToV2
      tags:
      - SDK
      summary: Update V1 embedded wallet to V2
      requestBody:
        description: Session info required to upgrade embedded wallet to V2
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeEmbeddedWalletToV2Request'
        required: true
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '201':
          description: Successfully migrated to V2 embedded wallet and refreshed jwt token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/healthcheck:
    get:
      operationId: getHealthcheck
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      description: Health check endpoint to check for uptime of API.
      responses:
        '200':
          description: Healthcheck response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthcheckResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/refresh:
    post:
      operationId: refreshAuth
      summary: Endpoint to refresh the JWT auth token using the current valid JWT auth token in the authorization header
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successful refreshed jwt token and user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/emailProvider:
    get:
      operationId: getEmailProvider
      tags:
      - SDK
      summary: Get signin email provider
      description: Return the email provider to be used for signing in with a given email. If an external provider such as magicLink is disabled, this endpoint would return emailOnly. If an external provider such as magicLink is enabled, it will return emailOnly when the email already exists in Dynamic and it is associated with a wallet, otherwise it will return magicLink.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        required: true
        name: email
        allowReserved: true
        schema:
          type: string
          format: email
      responses:
        '200':
          description: Email provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/loginUrl:
    get:
      operationId: oauthLoginUrl
      tags:
      - SDK
      summary: Get redirect URL for Oauth provider login. This will return a string that the SDK can manipulate before redirecting the browser to.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthProviderLoginUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/login:
    get:
      operationId: oauthLogin
      tags:
      - SDK
      summary: Get redirect URL for Oauth provider login
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/redirect:
    get:
      operationId: oauthRedirectCode
      tags:
      - SDK
      summary: Oauth provider redirect endpoint
      description: Endpoint where an oauth provider would redirect after a successful user authorizing the oauth application.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      - in: query
        name: code
        allowReserved: true
        schema:
          $ref: '#/components/schemas/OAuthCode'
      - in: query
        name: scope
        allowReserved: true
        schema:
          type: string
      - in: query
        name: state
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: authuser
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: prompt
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: error
        allowReserved: true
        schema:
          $ref: '#/components/schemas/OAuthError'
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/cbOauthRedirectUrl:
    get:
      operationId: cbOauthRedirect
      tags:
      - SDK
      summary: Redirect URL for sign-in with coinbase
      description: This endpoint proxies requests to `/sdk/{environmentId}/providers/coinbasesocial/redirect` because Coinbase does not allow the string `coinbase` on the redirect URL path
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: code
        allowReserved: true
        schema:
          $ref: '#/components/schemas/OAuthCode'
      - in: query
        name: scope
        allowReserved: true
        schema:
          type: string
      - in: query
        name: state
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: authuser
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: prompt
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: error
        allowReserved: true
        schema:
          $ref: '#/components/schemas/OAuthError'
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/apple/redirect:
    post:
      operationId: oauthRedirectApple
      tags:
      - SDK
      summary: Oauth provider redirect endpoint for apple ID
      description: Endpoint where an oauth provider would redirect after a successful user authorizing the oauth application.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Apple ID required stuff
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthRedirectRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/authorizeHtml:
    get:
      operationId: oauthAuthorizeHtml
      tags:
      - SDK
      summary: Oauth provider authorization endpoint
      description: Endpoint where an oauth provider would return authorization HTML used for mobile-friendly login, such as Apple ID with Touch ID on enabled devices.
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      - in: query
        name: scope
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: state
        allowReserved: true
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
      - in: query
        name: redirect_uri
        allowReserved: true
        schema:
          $ref: '#/components/schemas/OauthRedirectUri'
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: provider not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/verify:
    post:
      operationId: oauthVerify
      tags:
      - SDK
      summary: Oauth provider verify endpoint
      description: Standard OAuth verify callback to exchange temproary code for oauth access
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      requestBody:
        description: OAuth temporary auth code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/farcaster/signin:
    post:
      operationId: farcasterSignIn
      tags:
      - SDK
      summary: Farcaster provider SignIn endpoint
      description: Farcaster SignIn endpoint to exchange SIWF data
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Sign In Response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarcasterSignInRequest'
      responses:
        '200':
          description: Sign In Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/farcaster/verify:
    post:
      operationId: farcasterVerify
      tags:
      - SDK
      summary: Farcaster provider Verify endpoint
      description: Farcaster Verify endpoint to exchange SIWF data
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Verify Response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarcasterSignInRequest'
      responses:
        '200':
          description: Verify Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/providers/{providerType}/signIn:
    post:
      operationId: oauthSignIn
      tags:
      - SDK
      summary: Oauth provider SignIn endpoint
      description: Standard OAuth SignIn callback to exchange temproary code for oauth access and return a valid Dynamic JWT and user
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      requestBody:
        description: OAuth temporary auth code and optional verifier credentials for Oauth providers requiring PKCE.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/providers/{providerType}/oauthResult:
    post:
      operationId: oauthResult
      tags:
      - SDK
      summary: Returns the authorization code or error retuned by oauth provider
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/providerType'
      requestBody:
        description: State string sent to oauth provider from sdk during login
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthResultRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthResultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/nonce:
    get:
      operationId: getNonce
      tags:
      - SDK
      summary: Create nonce for authentication flow
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Nonce response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'
        '500':
          description: Error response
  /sdk/{environmentId}/events:
    post:
      operationId: publishEvent
      tags:
      - SDK
      summary: Publish events for SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Event Message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishEvents'
      responses:
        '204':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Environment not found
        '500':
          description: Error response
  /sdk/{environmentId}/settings:
    get:
      operationId: getEnvironmentSettings
      tags:
      - SDK
      summary: Get the environment's settings
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: sdkVersion
        required: false
        schema:
          type: string
        description: The version of the SDK that is making the request
      responses:
        '200':
          description: Project settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettings'
        '404':
          description: Environment not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/sdkSettings:
    post:
      operationId: logDynamicSdkSettings
      tags:
      - SDK
      summary: Update SDK settings for a specific environment
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Updated SDK settings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdkSettingsRequest'
      responses:
        '204':
          description: Success response
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/verify/link:
    post:
      operationId: verifyLink
      summary: Link wallet to user
      description: Link a wallet to a valid environment user, and return an updated JWT
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
        required: true
      responses:
        '200':
          description: Successful link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/verify/merge:
    post:
      operationId: verifyMergeUsers
      summary: Merge users with conflict resolutions
      description: Used to merge two users with user-chosen resolutions to conflicting data between the two users to be merged
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Merge resolution data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeUserConflictResolutions'
        required: true
      responses:
        '200':
          description: Successful merge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/verify/transfer:
    post:
      operationId: verifyTransfer
      summary: Verify wallet transfer
      description: Used to link a wallet after user has confirmed transfer to the new account
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
        required: true
      responses:
        '200':
          description: Successful link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/revoke:
    post:
      operationId: revokeSession
      summary: Revoke a session
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: Successful empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/verify/unlink:
    post:
      operationId: verifyUnlink
      summary: unlink wallet from user
      description: Remove a link from to a valid environment user, and return an updated JWT
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyUnlinkRequest'
        required: true
      responses:
        '200':
          description: Successful link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/prefetch:
    post:
      operationId: prefetch
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: prefetch information for wallet address
      description: Endpoint to send minimal wallet information to the API to prefetch name service information for an address.
      requestBody:
        description: Prefetch data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrefetchRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Environment not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/connect:
    post:
      operationId: createVisit
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Create a visit
      description: Endpoint to send minimal wallet information for a connect-only or connect-first visitor.
      requestBody:
        description: Connected Visit data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Environment not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/verify:
    post:
      operationId: verify
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Verify payload and return JWT
      requestBody:
        description: Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
        required: true
      responses:
        '200':
          description: Successful verify response, that contains the encoded JWT as a string.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users:
    put:
      operationId: updateSelf
      tags:
      - SDK
      summary: Update a user's fields
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserFields'
        required: true
      responses:
        '200':
          description: successful operation - user fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSelfResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    get:
      operationId: getAuthenticatedUser
      tags:
      - SDK
      summary: Fetch user profile for the current authenticated user
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    delete:
      operationId: hardDeleteUser
      summary: Hard delete a user
      description: Hard delete the authenticated user
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/embeddedWallets/recoveryEmail:
    put:
      operationId: updateEmbeddedWalletRecoveryEmail
      tags:
      - SDK
      summary: Update a user's V2 recovery email
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Update a user's V2 recovery email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecoveryEmailRequest'
        required: true
      responses:
        '204':
          description: Empty response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/passkeys:
    get:
      operationId: getUserPasskeys
      tags:
      - SDK
      summary: Gets passkey data associated with a user
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful operation - user passkeys fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPasskeysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    put:
      operationId: updatePasskey
      tags:
      - SDK
      summary: Update a passkey's info
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: update user passkey parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPasskeyRequest'
        required: true
      responses:
        '200':
          description: successful operation - passkey updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPasskey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    delete:
      operationId: deletePasskey
      tags:
      - SDK
      summary: Delete a passkey
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: delete user passkey parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserPasskeyRequest'
        required: true
      responses:
        '204':
          description: successful operation - passkey deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/passkeys/register:
    get:
      operationId: getPasskeyRegistrationOptions
      tags:
      - SDK
      summary: Gets passkey data associated with a user
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: returns passkey registration options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPasskeyRegistrationOptionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: registerPasskey
      tags:
      - SDK
      summary: Register a new passkey
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: passkey registration data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyRegisterRequest'
        required: true
      responses:
        '200':
          description: returns verify response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/passkeys/authenticate:
    get:
      operationId: getPasskeyAuthenticationOptions
      tags:
      - SDK
      summary: Gets passkey authentication options
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/relatedOriginRpId'
      responses:
        '200':
          description: returns passkey authentication options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPasskeyAuthenticationOptionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/passkeys/signin:
    post:
      operationId: signinWithPasskey
      tags:
      - SDK
      summary: Authenticate a passkey
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: passkey authentication data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyAuthRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getPasskeyAuthenticationSigninOptions
      tags:
      - SDK
      summary: Gets passkey authentication options
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/relatedOriginRpId'
      responses:
        '200':
          description: returns passkey authentication options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPasskeyAuthenticationOptionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/mfa:
    get:
      operationId: getUserMfaDevices
      tags:
      - SDK
      summary: Get the current user's MFA Devices
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAListDevicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/methods:
    get:
      operationId: getUserMfaMethods
      tags:
      - SDK
      summary: Get the current user's MFA Methods
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: verifiedOnly
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAMethodsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/{mfaDeviceId}:
    get:
      operationId: getMfaDevice
      tags:
      - SDK
      summary: Get the current user's MFA by device id
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/mfaDeviceId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFADevice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    put:
      operationId: updateUserMfaDevice
      tags:
      - SDK
      summary: Update a device
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/mfaDeviceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAUpdateDeviceRequest'
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    delete:
      operationId: deleteMfaDevice
      tags:
      - SDK
      summary: Delete a device (if not default device)
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/mfaDeviceId'
      - $ref: '#/components/parameters/mfaAuthToken'
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/register/totp:
    get:
      operationId: registerTotpMfaDevice
      tags:
      - SDK
      summary: Register a new TOTP MFA device and get Totp Secret
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFARegisterTotpDeviceGetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    post:
      operationId: registerTotpMfaDeviceVerify
      tags:
      - SDK
      summary: Verify TOTP MFA device
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: totp code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFARegisterTotpDevicePostRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFADevice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/auth/totp:
    post:
      operationId: authMfaTotpDevice
      tags:
      - SDK
      summary: Upgrade JWT scope with valid MFA session
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: totp code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAAuthTotpDevicePostRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/register/passkey:
    get:
      operationId: registerPasskeyMfaDevice
      tags:
      - SDK
      summary: Register a new Passkey MFA device
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFARegisterPasskeyDeviceGetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    post:
      operationId: registerPasskeyMfaDeviceVerify
      tags:
      - SDK
      summary: Verify Passkey MFA device
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: totp code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFARegisterPasskeyDevicePostRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/auth/passkey:
    post:
      operationId: authenticateMfaPasskeyDevice
      tags:
      - SDK
      summary: Upgrade JWT scope with valid MFA session
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: passkey response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyAuthRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/auth/email:
    post:
      operationId: authenticateMfaEmail
      tags:
      - SDK
      summary: Upgrade JWT scope with valid MFA session
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: email verification response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationMfaRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/auth/recovery:
    post:
      operationId: authMfaRecovery
      tags:
      - SDK
      summary: Upgrade JWT scope with valid MFA session
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: totp code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAAuthRecoveryDevicePostRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/mfa/recovery:
    get:
      operationId: getRecoveryCodes
      tags:
      - SDK
      summary: Get recovery codes
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAGetRecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    post:
      operationId: createNewRecoveryCodes
      tags:
      - SDK
      summary: Generate new recovery codes for user
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFARegenRecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/merge:
    post:
      operationId: mergeUsers
      summary: After successful verification allow to merge two owned accounts
      description: Used to merge two owned accounts connected by email address
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successful merge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/{walletId}/softDelete:
    delete:
      operationId: softDeleteEmbeddedWallet
      summary: Soft delete an embedded wallet
      description: Soft delete an embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/walletId'
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/{walletId}/restore:
    put:
      operationId: restoreEmbeddedWallet
      summary: Restore an embedded wallet
      description: Restore an embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/walletId'
      responses:
        '204':
          description: Empty response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets:
    post:
      operationId: createEmbeddedWallets
      summary: Create one or more new embedded wallets for a user
      description: Create one or more embedded wallets for a user
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Embedded wallet fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddedWalletsRequest'
        required: true
      responses:
        '201':
          description: Successfully created Embedded wallet(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteEmbeddedWallets
      summary: Deletes the embedded wallets for a user
      description: Deletes the embedded wallets for a user
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Delete wallet fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteEmbeddedWalletsRequest'
      responses:
        '204':
          description: Successfully deleted Embedded wallet(s)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/deleteRequest:
    get:
      deprecated: true
      operationId: legacyGetEmbeddedWalletsDeleteRequest
      summary: Generates the turnkey request body for a user's delete wallets request
      description: Generates the turnkey request body for a user's delete wallets request
      parameters:
      - $ref: '#/components/parameters/environmentId'
      security:
      - bearerAuth: []
      tags:
      - SDK
      responses:
        '200':
          description: V2 DeleteWalletsRequest body (deprecated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnkeyDeleteEmbeddedWalletsRequestBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/{walletId}/deleteRequest:
    get:
      operationId: GetEmbeddedWalletsDeleteRequest
      summary: Generates the request body for a user's delete V2 wallets request
      description: Generates the request body for a user's delete V2 wallets request
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/walletId'
      security:
      - bearerAuth: []
      tags:
      - SDK
      responses:
        '200':
          description: V2 DeleteWalletsRequest body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnkeyDeleteEmbeddedWalletsRequestBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/walletAccounts:
    post:
      operationId: CreateWalletAccount
      summary: Add a wallet account to a user's existing V2 wallet
      description: Add a wallet account to a user's existing V2 wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Create wallet account fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletAccountRequest'
        required: true
      responses:
        '201':
          description: Updated JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/walletAccounts/createRequest:
    get:
      operationId: GetCreateWalletAccountRequest
      summary: Generates the request body for a user's create V2 wallet account request
      description: Generates the request body for a user's create V2 wallet account request
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: chain
        schema:
          $ref: '#/components/schemas/EmbeddedWalletChainEnum'
        required: true
      responses:
        '200':
          description: V2 CreateWalletAccountRequest body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnkeyCreateWalletAccountsRequestBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/emailAuth:
    post:
      operationId: initEmailAuth
      summary: Initialize the email authentication process for a user's embedded wallet
      description: Initialize the email authentication process for a user's embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Init email auth fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitEmailAuthRequest'
        required: true
      responses:
        '200':
          description: Init email auth response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitEmailAuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/passkeyRecovery:
    post:
      operationId: initPasskeyRecovery
      summary: Initialize the passkey recovery process for a user's passkey embedded wallet
      description: Initialize the passkey recovery process for a user's passkey embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Init passkey recovery fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitPasskeyRecoveryRequest'
        required: true
      responses:
        '201':
          description: Init passkey recovery response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitPasskeyRecoveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: completePasskeyRecovery
      summary: Completes the passkey recovery process for a user's passkey embedded wallet
      description: Completes the passkey recovery process for a user's passkey embedded wallet
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Complete passkey recovery fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePasskeyRecoveryRequest'
        required: true
      responses:
        '201':
          description: Successfully completed passkey recovery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/users/embeddedWallets/sessionKey:
    post:
      operationId: registerSessionKey
      description: Registers a session key for an embedded wallet
      summary: Registers a session key for an embedded wallet
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Register session key body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSessionKeyRequest'
        required: true
      responses:
        '200':
          description: Register session key response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterEmbeddedWalletSessionKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/users/embeddedWallets/{walletId}/activities/{activityId}/export:
    get:
      operationId: embeddedWalletExport
      description: Requests an export of an embedded wallet
      summary: Requests an export of an embedded wallet
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/walletId'
      - $ref: '#/components/parameters/activityId'
      responses:
        '200':
          description: Wallet activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportEmbeddedWalletResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Wallet not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
  /sdk/{environmentId}/networks:
    get:
      summary: Find the configuration for the enabled networks associated to an environment
      operationId: getNetworksConfigurationByEnvId
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Networks configuration response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NetworkConfigurationResponse'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/onramps:
    get:
      summary: Configuration for enabled onramps
      description: Find the configuration for the enabled onramps associated to an environment
      operationId: getSupportedOnramps
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: query
        name: walletAddress
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: true
      - in: query
        name: chain
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: true
      - in: query
        name: networkId
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: false
      - in: query
        name: token
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: false
      - in: query
        name: tokenAmount
        schema:
          type: number
        required: false
      - in: query
        name: includeDisabled
        schema:
          type: boolean
        required: false
      - in: query
        name: currency
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: false
      - in: query
        name: merchantName
        schema:
          $ref: '#/components/schemas/ValidStringQueryParam'
        required: false
        description: Optional merchant display name to append to provider URLs when supported
      responses:
        '200':
          description: Supported onramps response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedOnrampsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/onramps/coinbase/networks:
    get:
      summary: Get Coinbase supported networks
      description: Get a list of all networks supported by Coinbase onramp
      operationId: getCoinbaseSupportedNetworks
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Array of supported networks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/onramps/coinbase/orders:
    post:
      summary: Create a Coinbase onramp order
      operationId: createCoinbaseOnrampOrder
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Coinbase onramp order data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinbaseOnrampOrderCreateRequest'
        required: true
      responses:
        '200':
          description: Successfully created a Coinbase onramp order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinbaseOnrampOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/onramps/coinbase/buy:
    post:
      summary: Generate a Coinbase onramp buy URL
      operationId: generateCoinbaseOnrampBuyUrl
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Coinbase onramp order data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinbaseOnrampGetBuyUrlRequest'
        required: true
      responses:
        '200':
          description: Successfully generated a Coinbase onramp buy URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinbaseOnrampGetBuyUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/onramps/cryptoDotCom/payment:
    post:
      summary: Start Crypto.com payment
      description: Create a Crypto.com payment and return the payment payload (URL and optional QR code)
      operationId: createCryptoDotComPayment
      security:
      - bearerAuth: []
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoDotComPaymentCreateRequest'
      responses:
        '200':
          description: Crypto.com payment payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoDotComPaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/emailVerifications/create:
    post:
      operationId: createEmailVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Initialize email verification process
      requestBody:
        description: Email Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationCreateRequest'
        required: true
      responses:
        '201':
          description: Successful response, that contains verification UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailVerificationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/smsVerifications/create:
    post:
      operationId: createSmsVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Initialize sms verification process
      requestBody:
        description: Sms Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsVerificationCreateRequest'
        required: true
      responses:
        '201':
          description: Successful response, that contains verification UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVerificationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/smsVerifications/retry:
    post:
      operationId: retrySmsVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Send new code for sms verification
      requestBody:
        description: Sms Verification Id
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsVerificationRetryRequest'
        required: true
      responses:
        '201':
          description: Successful response, a new code has been set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVerificationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/smsVerifications/verify:
    post:
      operationId: verifySmsVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      security:
      - bearerAuth: []
      summary: Verify sms verification request
      requestBody:
        description: Sms Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsVerificationVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful response, that contains verification UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSelfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/smsVerifications/signin:
    post:
      operationId: signInWithSmsVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Verify an sms and sign in user
      requestBody:
        description: Sms Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsVerificationVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/emailVerifications/verify:
    post:
      operationId: verifyEmailVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      security:
      - bearerAuth: []
      summary: Verify email verification request
      requestBody:
        description: Email Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful response, that contains verification UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSelfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/emailVerifications/signin:
    post:
      operationId: signInWithEmailVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Verify an email and sign in user
      requestBody:
        description: Email Verification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenWithErrorAndPayload'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/emailVerifications/retry:
    post:
      operationId: retryEmailVerification
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      summary: Send new code for email verification
      requestBody:
        description: Email Verification Id
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRetryRequest'
        required: true
      responses:
        '201':
          description: Successful response, a new code has been set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailVerificationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/.well-known/jwks:
    get:
      summary: Find jwks for public key
      operationId: getJwksByEnvironmentId
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: public key with standard jwks format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwksResponse'
        '404':
          description: Environment not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/.well-known/jwks.json:
    get:
      summary: Find jwks for public key (JSON format)
      operationId: getJwksJsonByEnvironmentId
      tags:
      - SDK
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: public key with standard jwks format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwksResponse'
        '404':
          description: Environment not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/exchangeRates:
    get:
      operationId: getCurrencyExchangeRates
      tags:
      - SDK
      description: Exchange rates for the given currency
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Exchange rates response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdk/{environmentId}/chains/{chainName}/balances:
    get:
      operationId: getAccountBalances
      tags:
      - SDK
      summary: Get the token balances for an account
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - in: path
        name: chainName
        required: true
        schema:
          $ref: '#/components/schemas/ChainEnum'
      - in: query
        name: networkId
        required: false
        schema:
          type: number
      - in: query
        name: accountAddress
        required: true
        schema:
          $ref: '#/components/schemas/EthSolBtcSuiFlowCosmosTronWalletAddress'
      - in: query
        name: includePrices
        required: false
        schema:
          type: boolean
      - in: query
        name: includeNative
        required: false
        schema:
          type: boolean
      - in: query
        name: filterSpamTokens
        description: If false, the balance requests will not be filtered for spam tokens
        required: false
        schema:
          type: boolean
      - in: query
        name: whitelistedContracts
        description: Contracts to not filter out in the response
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: forceRefresh
        description: If true, the balance requests will be refreshed within rate limits
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List of token balances
          content:
            application/json:
              schema:
                type: array
                items:
[...]
