openapi: 3.0.1
info:
  title: Dashboard API
  description: Dashboard API documentation
  version: 1.0.0
servers:
  - url: https://app.dynamicauth.com/api/v0
  - url: https://app.dynamic.xyz/api/v0
  - url: http://localhost:3333/api/v0
tags:
  - name: Analytics
  - name: SDK
  - name: Organizations
  - name: Projects
  - name: Environments
  - name: Users
  - name: Invites
  - name: Tokens
  - name: Origins
  - name: Allowlists
  - name: Wallets
  - name: Members
  - name: Sessions
  - name: Settings
  - name: Gates
  - name: Chains
  - name: Exports
  - name: Events
  - name: Webhooks
  - name: Custom Fields
  - name: OrganizationMfaSettings
  - name: CustomHostnames
  - name: TestAccount
  - name: NameServices
  - name: GlobalWallets
  - name: GlobalWalletConnections
  - name: UserApiTokens
  - name: Waas
  - name: WalletConnect
paths:
  /environments/{environmentId}/globalWallet/settings:
    post:
      operationId: createGlobalWalletSettings
      tags:
        - GlobalWallets
      summary: Creates the global wallet settings for the environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWalletSettingsCreateRequest'
      responses:
        '201':
          description: Successfully created global wallet settings for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getGlobalWalletSettings
      tags:
        - GlobalWallets
      summary: Get the global wallet settings for environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Returns the global wallet settings for environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateGlobalWalletSettings
      tags:
        - GlobalWallets
      summary: Updates the global wallet settings for the environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWalletSettingsUpdateRequest'
      responses:
        '200':
          description: Successfully updated global wallet settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/enable:
    put:
      operationId: enableGlobalWallet
      tags:
        - GlobalWallets
      summary: Enable global wallet for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Enabled and returns the global wallet settings for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/disable:
    put:
      operationId: disableGlobalWallet
      tags:
        - GlobalWallets
      summary: Disabled global wallet for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Disables and returns the global wallet settings for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/accessControl:
    get:
      operationId: getGlobalWalletAccessControlList
      tags:
        - GlobalWalletAccessControl
      summary: >-
        Get all the global wallet access control domains for a project
        environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: >-
            List of global wallet access control domains for this project
            environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createGlobalWalletAccessControl
      tags:
        - GlobalWalletAccessControl
      summary: Creates a global wallet access control for this project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      security:
        - bearerAuth: []
      requestBody:
        description: Fields necessary to create the global wallet access control
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWalletAccessControlUpdateRequest'
      responses:
        '201':
          description: Global wallet access control was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateGlobalWalletAccessControl
      tags:
        - GlobalWalletAccessControl
      summary: Updates a global wallet access control for this project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      security:
        - bearerAuth: []
      requestBody:
        description: Fields necessary to update the global wallet access control
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWalletAccessControlUpdateRequest'
      responses:
        '200':
          description: Global wallet access control was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/accessControl/enable:
    put:
      operationId: enableGlobalWalletAccessControl
      tags:
        - GlobalWalletAccessControl
      summary: Enable global wallet access control for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: >-
            Enables and returns the global wallet access control for this
            environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/accessControl/disable:
    put:
      operationId: disableGlobalWalletAccessControl
      tags:
        - GlobalWalletAccessControl
      summary: Disabled global wallet access control for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: >-
            Disables and returns the global wallet access control for this
            environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/accessControl/domains:
    post:
      operationId: addGlobalWalletAccessControlDomain
      tags:
        - GlobalWalletAccessControl
      summary: >-
        Adds a domain to be allowed or blocked for global wallet access for this
        project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      security:
        - bearerAuth: []
      requestBody:
        description: Fields necessary to add the global wallet access control domain
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GlobalWalletAccessControlDomainCreateRequest
      responses:
        '201':
          description: Global wallet access control domain was added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalWalletAccessControlDomainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/globalWallet/accessControl/domains/{globalWalletAccessControlDomainId}:
    delete:
      operationId: deleteGlobalWalletAccessControlDomainById
      tags:
        - GlobalWalletAccessControl
      summary: Delete a global wallet access control domain by id
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/globalWalletAccessControlDomainId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/globalWallet/connections:
    get:
      operationId: getGlobalWalletConnections
      tags:
        - GlobalWalletConnections
      summary: Get the global wallet connections for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: userId
          schema:
            $ref: '#/components/schemas/uuid'
          required: false
          description: Filter connections by user ID
        - in: query
          name: status
          schema:
            type: string
            enum:
              - connected
              - disconnected
          required: false
          description: Filter connections by status (connected or disconnected)
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: >-
            The number of items to skip before starting to collect the result
            set
          required: false
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The numbers of items to return
          required: false
      responses:
        '200':
          description: Returns the global wallet connections for this environment
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalWalletConnection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/nameService/{chainName}:
    post:
      operationId: createNameService
      tags:
        - NameServices
      summary: Create a new name service for the environment and chain
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameServiceCreateRequest'
      responses:
        '201':
          description: Successfully created nane service for this environment and chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getNameService
      tags:
        - NameServices
      summary: Get the name service for the environment and chain
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      responses:
        '200':
          description: Get the name service for this environment and chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteNameService
      tags:
        - NameServices
      summary: delete the name service for the environment and chain
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/nameService/{chainName}/signingMessage:
    post:
      operationId: fetchNameServiceSigningMessage
      tags:
        - NameServices
      summary: >-
        Get the unsigned chain-specific message needed to be signed by the
        wallet owner using the wallet private key
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameServiceSigningMessageRequest'
      responses:
        '200':
          description: Unsigned SIWE message to sign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameServiceSigningMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/nameService/{chainName}/enable:
    put:
      operationId: enableNameService
      tags:
        - NameServices
      summary: Enable name service for this environment and chain
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      responses:
        '200':
          description: Get the name service for this environment and chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/nameService/{chainName}/disable:
    put:
      operationId: disableNameService
      tags:
        - NameServices
      summary: Disabled name service for this environment and chain
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/chainName'
      responses:
        '200':
          description: Get the name service for this environment and chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/test/account:
    delete:
      operationId: deleteTestAccount
      tags:
        - TestAccount
      summary: Delete the test account for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getTestAccount
      tags:
        - TestAccount
      summary: Get the test account for this environemnt
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of test account for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createTestAccount
      tags:
        - TestAccount
      summary: Create a new test account for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/custom/hostnames/{customHostnameId}:
    delete:
      operationId: deleteCustomHostname
      tags:
        - CustomHostnames
      summary: Delete the custom hostname
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/customHostnameId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/custom/hostnames:
    get:
      operationId: getCustomHostnames
      tags:
        - CustomHostnames
      summary: Get the custom hostnames for this environemnt
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of custom hostnames for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHostnamesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createCustomHostname
      tags:
        - CustomHostnames
      summary: Create a new custom hostname for this environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomHostnameCreateRequest'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHostname'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/exports:
    get:
      operationId: getEnvironmentExports
      tags:
        - Exports
      summary: Get the exports for an environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: model
          description: The type of data to export
          schema:
            $ref: '#/components/schemas/ExportModelEnum'
      responses:
        '200':
          description: List of exports for this project environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createExport
      tags:
        - Exports
      summary: Create a new export request for the project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportCreateRequest'
      responses:
        '201':
          description: Successfully created export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/exports/{exportId}/download:
    get:
      operationId: downloadExportById
      tags:
        - Exports
      summary: Download an export by ID
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/exportId'
      responses:
        '302':
          description: Redirect
          content:
            text/csv:
              schema:
                type: string
          headers:
            Location:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/exports/{exportId}:
    get:
      operationId: getExportById
      tags:
        - Exports
      summary: Get an export using the ID
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/exportId'
      responses:
        '200':
          description: Successfully retrieved an export and its current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/gates:
    get:
      operationId: getEnvironmentGates
      tags:
        - Gates
      summary: Get the gates for an environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of gates for this project environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createGate
      tags:
        - Gates
      summary: Creates a new gate for the project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateCreateRequest'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/gates/{gateId}:
    get:
      operationId: getGate
      tags:
        - Gates
      summary: Gets a gate
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/gateId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateGate
      tags:
        - Gates
      summary: Updates a gate
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/gateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateUpdateRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteGate
      tags:
        - Gates
      summary: Delete a gate
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/gateId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/gates/{gateId}/enable:
    put:
      summary: Enable the gate for the environment
      operationId: enableGate
      tags:
        - Gates
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/gateId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/gates/{gateId}/disable:
    put:
      summary: Disable the gate for the environment
      operationId: disableGate
      tags:
        - Gates
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/gateId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/settings/exchanges:
    get:
      operationId: getEnvironmentExchanges
      tags:
        - Settings
      summary: Get the exchanges for an environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of exchanges for this project environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createExchange
      tags:
        - Settings
      summary: Creates a new exchange for the project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeCreateRequest'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /settings/exchanges/{exchangeId}:
    get:
      operationId: getExchange
      tags:
        - Settings
      summary: Gets an exchange
      parameters:
        - $ref: '#/components/parameters/exchangeId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteExchange
      tags:
        - Settings
      summary: Delete an exchange by exchangeId
      parameters:
        - $ref: '#/components/parameters/exchangeId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /settings/exchanges/{exchangeId}/enable:
    put:
      summary: Enable the exchange for the environment
      operationId: enableExchange
      tags:
        - Settings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/exchangeId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /settings/exchanges/{exchangeId}/disable:
    put:
      summary: Disable the exchange for the environment
      operationId: disableExchange
      tags:
        - Settings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/exchangeId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/settings/providers:
    get:
      operationId: getEnvironmentProviders
      tags:
        - Settings
      summary: Get the providers for an environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of providers for this project environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createProvider
      tags:
        - Settings
      summary: Creates a new provider for the project environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCreateRequest'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/settings/providers/urls:
    get:
      operationId: getEnvironmentProviderUrls
      tags:
        - Settings
      summary: Get the URLs for the environment providers
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: List of OAuth urls for the environment providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderUrlsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /settings/providers/{providerId}:
    get:
      operationId: getProvider
      tags:
        - Settings
      summary: Gets a provider
      parameters:
        - $ref: '#/components/parameters/providerId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateProvider
      tags:
        - Settings
      summary: Updates a provider
      parameters:
        - $ref: '#/components/parameters/providerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderUpdateRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteProvider
      tags:
        - Settings
      summary: Delete a provider by providerId
      parameters:
        - $ref: '#/components/parameters/providerId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /settings/providers/{providerId}/enable:
    put:
      summary: Enable the provider for the environment
      operationId: enableProvider
      tags:
        - Settings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/providerId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /settings/providers/{providerId}/disable:
    put:
      summary: Disable the provider for the environment
      operationId: disableProvider
      tags:
        - Settings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/providerId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/analytics/wallets:
    get:
      operationId: getWalletsBreakdown
      description: Fetch wallets breakdown
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      responses:
        '200':
          description: Wallets Breakdown by Date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsWalletsBreakdownResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
      security:
        - bearerAuth: []
  /environments/{environmentId}/analytics/visits:
    get:
      operationId: getVisitAnalytics
      description: Fetch visit analytics
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      responses:
        '200':
          description: Analytics Visit Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsVisitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
      security:
        - bearerAuth: []
  /environments/{environmentId}/analytics/overview:
    get:
      operationId: getAnalyticsOverview
      tags:
        - Analytics
      summary: Get analytics overview data
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: start
          required: true
          schema:
            type: string
          description: Start date in ISO format (YYYY-MM-DD)
        - in: query
          name: end
          required: true
          schema:
            type: string
          description: End date in ISO format (YYYY-MM-DD)
        - in: query
          name: granularity
          required: true
          schema:
            type: string
            enum:
              - day
              - week
              - month
          description: Time granularity for the data
      responses:
        '200':
          description: Analytics overview data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/analytics/topline:
    get:
      operationId: getAnalyticsTopline
      tags:
        - Analytics
      summary: Get analytics topline data
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: start
          required: true
          schema:
            type: string
          description: Start date in ISO format (YYYY-MM-DD)
        - in: query
          name: end
          required: true
          schema:
            type: string
          description: End date in ISO format (YYYY-MM-DD)
      responses:
        '200':
          description: Analytics topline data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsToplineResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/analytics/engagement:
    get:
      operationId: getAnalyticsEngagement
      tags:
        - Analytics
      summary: Get analytics engagement data
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: start
          required: true
          schema:
            type: string
          description: Start date in ISO format (YYYY-MM-DD)
        - in: query
          name: end
          required: true
          schema:
            type: string
          description: End date in ISO format (YYYY-MM-DD)
      responses:
        '200':
          description: Analytics engagement data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsEngagementResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/analytics/walletsBreakdown:
    get:
      operationId: getAnalyticsWallets
      tags:
        - Analytics
      summary: Get analytics wallets breakdown data
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: start
          required: true
          schema:
            type: string
          description: Start date in ISO format (YYYY-MM-DD)
        - in: query
          name: end
          required: true
          schema:
            type: string
          description: End date in ISO format (YYYY-MM-DD)
        - in: query
          name: chain
          required: true
          schema:
            type: string
          description: Blockchain chain name
      responses:
        '200':
          description: Analytics wallets breakdown data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsWalletsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations:
    post:
      operationId: createOrganization
      tags:
        - Organizations
      summary: Creates organization
      requestBody:
        description: Organization data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
        required: true
      responses:
        '200':
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      operationId: getOrganizationsForMember
      tags:
        - Organizations
      summary: Fetches all the active organizations that the user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/billing/subscription:
    get:
      summary: Find the subscription of an organization using its ID
      operationId: getBillingSubscriptionByOrganization
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Details of the organziation's current subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/billing/upgrade:
    put:
      summary: Upgrade organziation to advanced plan
      operationId: upgradeSubscriptionForOrganization
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '201':
          description: Details of the organziation's current subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/billing/subscription/coupon:
    put:
      summary: Add coupon to subscription
      operationId: applyCouponForSubscription
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCoupon'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}:
    get:
      summary: Find an organization by ID
      operationId: getOrganizationById
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    put:
      summary: Update an organization by ID
      operationId: updateOrganizationById
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationFields'
        required: true
      responses:
        '200':
          description: successful operation - organization fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/address:
    put:
      summary: Update an organization address by ID
      operationId: updateOrganizationAddressById
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationAddressFields'
        required: true
      responses:
        '200':
          description: successful operation - organization fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/ssoProvider:
    get:
      operationId: getSsoProviderForOrganization
      tags:
        - Organizations
      summary: Get SSO provider configuration for organization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Successfully retrieved SSO provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: SSO provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    post:
      operationId: createSsoProvider
      tags:
        - Organizations
      summary: Create SSO provider configuration for organization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoProviderCreateRequest'
      responses:
        '201':
          description: Successfully created SSO provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/ssoProvider/{ssoProviderId}:
    put:
      operationId: updateSsoProvider
      tags:
        - Organizations
      summary: Update SSO provider configuration
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - name: ssoProviderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The SSO provider ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoProviderUpdateRequest'
      responses:
        '200':
          description: Successfully updated SSO provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: SSO provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteSsoProvider
      tags:
        - Organizations
      summary: Delete SSO provider configuration
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - name: ssoProviderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The SSO provider ID
      responses:
        '204':
          description: Successfully deleted SSO provider configuration
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: SSO provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /projects/{projectId}:
    get:
      summary: Find an project by ID
      operationId: getProjectById
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    put:
      operationId: updateProject
      tags:
        - Projects
      summary: Update a project
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        description: Data to update a project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
        required: true
      responses:
        '200':
          description: successful operation - project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      summary: Deletes a project by ID
      operationId: deleteProjectById
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '204':
          description: Delete successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/projects:
    post:
      operationId: createProject
      tags:
        - Projects
      summary: Creates a new project
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: Data to create a new project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
        required: true
      responses:
        '200':
          description: successful operation - project added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      operationId: getProjects
      summary: Fetches all the active projects the belong to the organization
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/customNetworks:
    get:
      summary: Get all custom networks for an organization
      operationId: getCustomNetworks
      tags:
        - Custom Networks
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: List of custom networks
          content:
            application/json:
              schema:
                type: object
                properties:
                  customNetworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    post:
      summary: Create a custom network for an organization
      operationId: createCustomNetwork
      tags:
        - Custom Networks
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: Data to create a custom network
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomNetworkRequest'
        required: true
      responses:
        '201':
          description: Custom network created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomNetworkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /organizations/{organizationId}/customNetworks/{networkId}:
    get:
      summary: Get a specific custom network
      operationId: getCustomNetwork
      tags:
        - Custom Networks
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: Custom network details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Network not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    put:
      summary: Update a custom network
      operationId: updateCustomNetwork
      tags:
        - Custom Networks
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Data to update the custom network
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomNetworkRequest'
        required: true
      responses:
        '200':
          description: Custom network updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomNetworkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Network not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      summary: Delete a custom network
      operationId: deleteCustomNetwork
      tags:
        - Custom Networks
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/networkId'
      responses:
        '204':
          description: Custom network deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Network not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/integrations/chainalysis:
    get:
      summary: Find the Chainalysis configuration for an environment.
      operationId: getChainalysisByEnvironmentId
      tags:
        - Chainalysis
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Chainalysis Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/integrations/chainalysis/sanctions/enable:
    put:
      summary: Enable the Sanctions API
      operationId: enableSanctionsApiByEnvironmentId
      tags:
        - Chainalysis
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/integrations/chainalysis/sanctions/disable:
    put:
      summary: Disables the Sanctions API
      operationId: disableSanctionsApiByEnvironmentId
      tags:
        - Chainalysis
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}:
    get:
      summary: Find an environment by ID
      operationId: getEnvironmentById
      tags:
        - Environments
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectEnvironment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    put:
      operationId: updateProjectSettings
      tags:
        - Environments
      summary: Updates the environment settings
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectSettings'
      responses:
        '200':
          description: Project settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/statistics/visitors:
    get:
      operationId: getVisitorsCountByEnvironmentId
      tags:
        - Environments
      summary: Get the unique number of visitors for an environment by environment ID
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment Unique Visitor Count Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVisitorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/keys:
    get:
      operationId: getKeysForEnvironment
      tags:
        - Environments
      summary: Get keys for an environment given environmentId
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment Key response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Key not found
        '500':
          description: Error response
      security:
        - bearerAuth: []
  /projects/{projectId}/environments:
    get:
      operationId: getEnvironmentsByProjectId
      tags:
        - Environments
      summary: Get Live and Sandbox environments by projectId
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Project environments response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /sessions/{sessionId}/revoke:
    put:
      summary: Revoke a session
      operationId: revokeSessionById
      tags:
        - Sessions
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/embeddedWallets:
    post:
      operationId: createEmbeddedWallet
      description: >-
        Creates a new embedded wallet for a user given an email or userId. If an
        email is provided and it is not associated with an existing user this
        call will also create a new user.
      summary: Creates a new embedded wallet for a user given an identifier
      tags:
        - Wallets
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Pregenerate embedded wallet for a user email request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserEmbeddedWalletsRequest'
        required: true
      responses:
        '200':
          description: Wallet already exists for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '201':
          description: Successfully created new wallet for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/embeddedWalletVersions:
    get:
      operationId: getActiveEmbeddedWalletVersionsForEnvironment
      tags:
        - Wallets
      summary: Get the active embedded wallet versions for an environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Active embedded wallet versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmbeddedWalletVersionEnum'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/embeddedWallets/farcaster:
    post:
      operationId: createEmbeddedWalletFromFarcaster
      description: >-
        Creates a new embedded wallet. This API is meant to be called from a
        frame server.
      summary: >-
        Creates a new embedded wallet. This API is meant to be called from a
        frame server.
      tags:
        - Wallets
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: Pregenerate embedded wallet for frame server request
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateUserEmbeddedWalletsFromFarcasterRequest
        required: true
      responses:
        '200':
          description: Wallet(s) already exists for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '201':
          description: Successfully created new wallet(s) for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /users/{userId}/wallets:
    post:
      deprecated: true
      operationId: createWalletLegacy
      summary: >-
        Creates a new wallet for the user (deprecated - use
        /environments/{environmentId}/users/{userId}/wallets instead)
      description: >-
        Creates a new wallet for the user. Note that this API is not meant for
        creating embedded wallets. To create embedded wallets use the
        /embeddedWallets endpoint.
      tags:
        - Wallets
      parameters:
        - $ref: '#/components/parameters/userId'
      requestBody:
        description: Wallet fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
        required: true
      responses:
        '201':
          description: Successfully created new wallet for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      deprecated: true
      operationId: getWalletsByUserIdLegacy
      tags:
        - Wallets
      summary: >-
        Get wallets by user (deprecated - use
        /environments/{environmentId}/users/{userId}/wallets instead)
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Successful response with list of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWalletsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/users/{userId}/balances:
    post:
      operationId: getUserAccountBalances
      tags:
        - SDK
      summary: Get account balances for multiple addresses
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      requestBody:
        description: Array of account addresses with chains and network IDs
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultichainAccountBalancesRequest'
      responses:
        '200':
          description: Token balances organized by chain and network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultichainAccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /environments/{environmentId}/users/{userId}/wallets:
    post:
      operationId: createWallet
      summary: >-
        Creates a new wallet for the user. Note that if the user already has an
        embedded wallet linked, this call will fail.
      description: >-
        Creates a new wallet for the user. Note that this API is not meant for
        creating embedded wallets. To create embedded wallets use the
        /embeddedWallets endpoint.
      tags:
        - Wallets
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      requestBody:
        description: Wallet fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
        required: true
      responses:
        '201':
          description: Successfully created new wallet for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      operationId: getWalletsByUserId
      tags:
        - Wallets
      summary: Get wallets by user
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Successful response with list of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWalletsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /wallets/{walletId}:
    get:
      deprecated: true
      operationId: getWalletByIdLegacy
      tags:
        - Wallets
      summary: >-
        Get a wallet using the ID (deprecated - use
        /environments/{environmentId}/wallets/{walletId} instead)
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Successful response with wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      deprecated: true
      operationId: deleteWalletByIdLegacy
      tags:
        - Wallets
      summary: >-
        Delete wallet (deprecated - use
        /environments/{environmentId}/wallets/{walletId} instead)
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/wallets:
    get:
      operationId: getWalletsByEnvironmentId
      tags:
        - Wallets
      summary: Get wallets by environment
      description: Retrieve wallets for a specified environment
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of wallets to return
        - in: query
          name: offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of wallets to skip
      responses:
        '200':
          description: Successful response with wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/wallets/{walletId}:
    get:
      operationId: getWalletById
      tags:
        - Wallets
      summary: Get a wallet using the ID
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Successful response with wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteWalletById
      tags:
        - Wallets
      summary: Delete wallet
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/walletId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/wallets/recover:
    post:
      operationId: recoverDeletedWalletsWithEnvironment
      tags:
        - Wallets
      summary: Recover deleted wallets for a user in a specific environment
      description: >-
        Recovers deleted wallets for a user in a specified environment by
        setting deleted_at to null. This undoes the soft deletion of wallets,
        wallet additional addresses, and turnkey HD wallets.
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRecoveryRequest'
      responses:
        '200':
          description: Successfully recovered wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletRecoveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /users/{userId}:
    put:
      deprecated: true
      operationId: updateUserLegacy
      tags:
        - Users
      summary: >-
        Update a user (deprecated - use
        /environments/{environmentId}/users/{userId} instead)
      parameters:
        - $ref: '#/components/parameters/userId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalUpdatableUserFields'
        required: true
      responses:
        '200':
          description: Successful response of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      deprecated: true
      operationId: getUserLegacy
      tags:
        - Users
      summary: >-
        Get a user by Id (deprecated - use
        /environments/{environmentId}/users/{userId} instead)
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Successful response of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      deprecated: true
      operationId: deleteUserLegacy
      tags:
        - Users
      summary: >-
        Delete user (deprecated - use
        /environments/{environmentId}/users/{userId} instead)
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /environments/{environmentId}/users/{userId}:
    put:
      operationId: updateUser
      tags:
        - Users
      summary: Update a user
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      requestBody:
        description: User new fields data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalUpdatableUserFields'
        required: true
      responses:
        '200':
          description: Successful response of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    get:
      operationId: getUser
      tags:
        - Users
      summary: Get a user by Id
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Successful response of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteUser
      tags:
        - Users
      summary: Delete user
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/userId'
      responses:
        '204':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
  /oauthAccounts/{oauthAccountId}/accessToken:
    get:
      operationId: getUserOauthAccessToken
      tags:
        - Users
      summary: Get the access token for a user OAuth account
      parameters:
        - $ref: '#/components/parameters/oauthAccountId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOauthAccessTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
        '500':
          $ref: '#/components/responses/InternalServerError'
[...]
